[Service]
ExecStart=
ExecStart={{ docker_path }} -H fd:// --dns 9.9.9.9 --no-new-privileges --userns-remap={{ unpriv_user }}
# FIXME: --iptables=false breaks bridged docker contianers
# for now we will conflict with firewalld
