[Unit]
Description=docker-compose upgrade
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker-compose {{ docker_compose_pre_files }} --file docker-compose.yml pull --no-parallel
ExecStart=/usr/bin/docker-compose {{ docker_compose_pre_files }} --file docker-compose.yml up --detach --remove-orphans
ExecStart=/usr/bin/docker system prune --force
KillMode=process
Type=oneshot
WorkingDirectory={{ compose_folder }}

[Install]
WantedBy=multi-user.target
