[Unit]
Description=docker-compose app
After=docker.service
Requires=docker.service
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/bin/docker-compose {{ docker_compose_pre_files }} --file docker-compose.yml up --detach --remove-orphans
ExecStop=/usr/bin/docker-compose {{ docker_compose_pre_files }} --file docker-compose.yml down
RemainAfterExit=true
Restart=on-failure
Type=oneshot
WorkingDirectory={{ compose_folder }}

[Install]
WantedBy=multi-user.target
